* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    overflow-x: hidden;
 }
 
 .signUpPageContent {
    width: 70%;
    margin: 0 auto;
 }
 
 .signupBannerImg{
   background-image: url('../../../public/images/banner1.jpg');
   width: 100%;
   min-height: 100vh;
   background-position: center;
   justify-content: center;
   margin: 0rem auto;
   display: flex;
   align-items: center;
}

.signupFormContainer{
   background-color: white;
   height: 80%;
   width: 45%;
   margin-right: 4rem;
   box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.24);
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}
.signupForm{
   display: flex;
   flex-direction: column;
   height: 65%;
}
.email,.passwordSu,.phone,.fullName{
   padding: 1.2rem 12rem 1.2rem 1rem;
   border: 1px solid #d3d3d3;
}
.fullName{
   margin-top: 1.5rem;
}
.phone{
}

.btnSubmit{
   margin-top: 10%;
   padding: 1rem 0;
   background-color: black;
   color: #d3d3d3;
}

.loginFt{
   padding-bottom: 4rem;
}

.loginFt >span{
   cursor: pointer;
   color: blue;
   padding-left: 4px;
}

.signupTitle{
   color: gray;
   font-weight: 400;
   padding-top: 3rem;
   font-size: 32px;
}
.error{
   color: red;
   font-style: italic;
   padding:0.2rem 0;
}
.error::before{
   content: '*';
}

@media screen and (max-width:768px) {
   .signUpPageContent{
       width: 100%;
       margin: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 1rem 0;
   }
   .email,.passwordSu,.phone,.fullName{
      border: 1px solid #d3d3d3;
      width: 100%;
   }
   
   .signupFormContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      padding: 0 1rem;
      height: 100%;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.24);
margin: 0;
   }
   .signupForm{
      display: flex;
      flex-direction: column;
      height: 65%;
      width: 90%;
   }
   .btnSubmit{
      margin-top: 10%;
      margin-bottom: 10%;
      padding: 1rem 0;
      background-color: black;
      color: #d3d3d3;
   }
   
}